.post {
    padding: 1.25rem;
    border-bottom: 1px solid #2F3336; 

    .post-content p {
        line-height: 1.25rem;
    }

    .user {
        border-radius: 9999px;
        height: 3rem;
        width: 3rem;
    }

    .post-content-footer {
        margin-top: .25rem;

        button {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: .875rem; 
            color: #71767b;
            transition: color .3s ease-in-out;
        }
        
        button:hover {
            color: #91979c;
            transition: color .3s ease-in-out;
        }

        button svg {
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}