* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

:root {
    --twitter-buttons: #eff3f4;
}

body {
    background-color: #000000;
    color: #e7e9ea;
}

body, input, textarea, button {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

button {
    cursor: pointer
}

a {
    color: inherit;
}

/* Page: Timeline - INIT */

.layout {
    /* margin: 0 auto; */
    max-width: 1000px;
}

.sidebar-fixed {
    position: relative;
    max-width: 275px;
}

.sidebar {
    position: sticky;
    top: 0;
    padding: 1.5rem 1.25rem;

    .logo {
        filter: invert(1);
        height: 2rem;
        width: 2rem;
        margin-left: .75rem;
    }

}

.new-post {
    background-color: var(--twitter-buttons);
    border-radius: 9999px;
    padding: 1rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 900;
    transition: filter .3s ease-in-out;

    &:hover {
        filter: brightness(.925);
        transition: filter .3s ease-in-out;
    }
}

.main-nav {

    a {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        border-radius: 9999px;
        font-size: 1.25rem;
        font-weight: 400;
        width: max-content;
        padding: .75rem .75rem;
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: #181818;
            transition: background-color .3s ease-in-out;
        }
    }

    a.active {
        color: var(--twitter-blue);
        font-weight: bold;
    }

    a svg {
        height: 2rem;
        width: 2rem;
    }
}

.content {
    position: relative;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;

    .timeline-header {
        background-color: #00000020;
        backdrop-filter: blur(.1rem);
        position: sticky;
        top: 0;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 1.5rem 1.25rem;
        border-bottom: 1px solid #2F3336;
    }
    
    .timeline-header svg {
        height: 1.5rem;
        width: 1.5rem;
        color: var(--twitter-blue);
    }

    .new-post-form {
        padding: 1.5rem 1.25rem;
    }

    .new-post-form label img {
        height: 3rem;
        width: 3rem;
        border-radius: 999px;
    }

    .new-post-form label textarea {
        flex: 1;
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: .75rem;
        resize: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #71767B;
        }
    }

    .new-post-form button {
        background-color: var(--twitter-buttons);
        border-radius: 9999px;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: 900;
        margin-left: auto;
        transition: filter .3s ease-in-out;

        &:hover {
            filter: brightness(.925);
            transition: filter .3s ease-in-out;
        }
    }

    .separetor {
        background-color: #121314;
        border-top: 1px solid #2F3336;
        border-bottom: 1px solid #2F3336;
        height: 1rem;
    }
}

